
<!-- Contact -->
<article id="contact" class="wrapper style1">
  <div class="container medium">
    <header>
      <h2>Contact</h2>
    </header>
    <div class="row">
      <div style="padding-top: 0px" class="col-12">
        <ul class="social">
          <li><a href="mailto:katieambergjohnson@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
          <li><a href="https://www.linkedin.com/in/katieambergjohnson/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
          <li><a href="http://github.com/kambergjohnson" class="icon brands fa-github"><span class="label">Github</span></a></li>
        </ul>

      </div>
    </div>
  </div>
</article>
