<!-- Home -->
<article id="top" class="wrapper style1">
  <div class="container">
    <div class="row">
      <div class="col-4 col-5-large col-12-medium">
        <span class="image fit"><img src="/images/kambergjohnson.square.jpeg" alt="" /></span>
      </div>
      <div class="col-8 col-7-large col-12-medium">
        <header>
          <h1>Hi! I'm <strong>Katie Amberg-Johnson</strong>.</h1>
        </header>
        <p>I am a biologist interested in developing therapeutics that improve human health.</p>

        <p>Since 2018, I have been working as a scientist at <a href="https://www.flagshippioneering.com/inzen-therapeutics">Inzen Therapeutics</a>, a small biotech startup focused on developing drugs that manipulate cell death. Cell death occurs continually in the human body as a result of both normal and diseased states, and leads to the release of specific biomolecules, many of which may signal to their surrounding environment. Cell signaling is poorly understood and a rich source of drug targets. At Inzen, we are uncovering these novel signaling molecules released by dying and stressed cells and leveraging them to cure and treat disease.</p>

        <p>Prior to Inzen, I received a Ph.D. in Microbiology and Immunology from Stanford University for work in <a href="https://yehlab.stanford.edu/">Ellen Yeh’s lab</a>. There I focused on identifying novel antimalarials that target the malaria parasite’s unusual and mysterious apicoplast organelle. This work led to four publications, one of which was featured in a <a href="http://blogs.biomedcentral.com/bugbitten/2017/09/15/the-action-of-actinonin-a-new-antimalarial-drug-and-target/">BugBitten blog post</a>! Towards the end of graduate school, I interned at <a href="https://insightfellows.com/data-science">Insight Data Science</a> to develop algorithms that predict bacterial contamination in ocean water. As someone who grew up in Hawaii, this topic was close to my heart.</p>

        <p>Much of my initial interest in science can be credited to my experience as an undergraduate in <a href="http://www.cchem.berkeley.edu/wemmer/home.html">David Wemmer’s lab</a> at UC Berkeley, where I used single-molecule optical tweezers and NMR to study the force-dependent molecular mechanisms of the bacterial transcription factor, sigma54. As a young scientist, I became hooked on the endless and diverse ways in which cells sense and regulate themselves and their environment. This subject continues to inspire me to this day.</p>
      </div>
    </div>
  </div>
</article>
