
<!-- Projects -->
<article id="papers" class="wrapper style2">
  <div class="container">
    <header>
      <h2>Papers</h2>
    </header>

    <div class="row">

      {% include paper.html url="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6380595/" title="A mutagenesis screen for essential plastid biogenesis genes in human malaria parasites" summary="Tang, Y., Meister, T. R., Walczak, M., Pulkoski-Gross, M. J., Hari, S. B., Sauer, R. T., Amberg-Johnson, K., & Yeh, E. (2019). PLoS biology, 17(2)." %}

      {% include paper.html url="https://www.ncbi.nlm.nih.gov/pubmed/30455243" title="Host cell metabolism contributes to delayed-death kinetics of apicoplast inhibitors in Toxoplasma gondii" summary="Amberg-Johnson, K., & Yeh, E. (2019). Antimicrob Agents Chemother. 2019 Jan 29; 63(2)" %}

      {% include paper.html url="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6147133/" title="The Toxoplasma gondii Active Serine Hydrolase 4 regulates parasite division and intravacuolar parasite architecture" summary="Foe, IT., Onguka, O., Amberg-Johnson, K., Garner, R., Amara, N., Beatty, W., Yeh, E., Bogyo, M., mSphere. (2018)." %}

      {% include paper.html url="https://searchworks.stanford.edu/view/12736277" title="Chemical inhibition of apicoplast biogenesis" summary="Amberg-Johnson, K. Ph.D. Thesis, Stanford University (2018)" %}

      {% include paper.html url="https://www.ncbi.nlm.nih.gov/pubmed/28826494" title="Small molecule inhibition of apicomplexan FtsH1 disrupts plastid biogenesis in human pathogens" summary="Katherine Amberg-Johnson, Sanjay B Hari, Suresh M Ganesan, Hernan A Lorenzi, Robert T Sauer, Jacquin C Niles, Ellen Yeh. (2017) eLife 2017;6:e29865" %}

      {% include paper.html url="resources/amberg-johnson-undergrad-honors-thesis.pdf" title="Use of Molecular Tweezers to Study the Effect of Applied Force on σ54 Core-Binding Domain" summary="Katherine Amberg-Johnson (2012) Undergraduate Honors Thesis, UC Berkeley." %}
    </div>
  </div>
</article>
