
<!-- Projects -->
<article id="projects" class="wrapper style2">
  <div class="container">
    <header>
      <h2>Projects</h2>
    </header>

    <div class="row">

      {% include project.html url="projects/gsk-immunohack.html" img="images/gsk-immunohack.png" title="GSK Immunohack: TwoBirds" summary="I led a team in the GSK Immunohack challenge whose goal was to increase vaccinations. We won! (2018)" %}

      {% include project.html url="projects/beach-water-contamination.html" img="images/kailua-beach.jpg" title="Vacation Contamination: Predicting Beach Water Pollution" summary="I used Gradient Boosted Decision Trees to create a predictive model for bacterial pollution based on State of Hawaii water sampling data. (2018)" %}

      {% include project.html url="projects/antimalarial-target-identification.html" img="images/target-identification-2-square.jpg" title="Novel antimalarial drug target identification" summary="To identify the molecular target of actinonin, we selected resistant mutants in Toxoplasma gondii that could survive high amounts of drug. (2016)" %}

      {% include project.html url="projects/antimalarial-drug-screening.html" img="images/Figure-1c-square.png" title="Antimalarial drug screening and optimization" summary="A cell-based screen to identify small molecules that inhibited Plasmodium falciparum plastid organelle biogenesis. (2015)" %}

      {% include project.html url="projects/molecular-tweezers.html" img="images/molecular-tweezers.png" title="Use of Molecular Tweezers to Study the Effect of Applied Force on σ54 Core-Binding Domain" summary="I performed a molecular tweezers experiment on the transcription initiation protein, σ54, to determine the number of unfolding events. (2012)" %}

      {% include project.html url="projects/structural-characterization.html" img="images/amgen-project-square.png" title="Structural Characterization of σ54 Core-Binding Domain Truncation" summary="I worked on creating a variant of the Core-Binding Domain of σ54 that lacked the C-terminal helix. (2012)" %}

    </div>
  </div>
</article>
