
<!-- Projects -->
<article id="skills" class="wrapper style2">
  <div class="container">
    <header>
      <h2>Skills</h2>
    </header>

    <div class="row">

      {% include skill.html name="Python" %}
      {% include skill.html name="SQL" %}
      {% include skill.html name="Scikit-Learn" %}
      {% include skill.html name="MatplotLib" %}
      {% include skill.html name="BeautifulSoup" %}
      {% include skill.html name="Illustrator" %}
      {% include skill.html name="PyMOL" %}
      {% include skill.html name="GraphPad Prism" %}
      {% include skill.html name="Tableau" %}
      {% include skill.html name="ELISA" %}
      {% include skill.html name="Antibody neutralization" %}
      {% include skill.html name="siRNA screening" %}
      {% include skill.html name="Lentivirus transfections" %}
      {% include skill.html name="Drug screening & characterization" %}
      {% include skill.html name="SAR analysis" %}
      {% include skill.html name="Western blotting" %}
      {% include skill.html name="SDS-PAGE" %}
      {% include skill.html name="Electroporation transfection" %}
      {% include skill.html name="Microplate-based assays" %}
      {% include skill.html name="FACs cell sorting and analysis" %}
      {% include skill.html name="CRISPR/Cas9 genome editing" %}
      {% include skill.html name="Molecular cloning—digest and recombination" %}
      {% include skill.html name="PCR, qPCR, dPCR" %}
      {% include skill.html name="Protein expression and purification" %}

    </div>
  </div>
</article>
